    <!-- Login -->
    <section>
        <div class="container my-5 ">
            <h1 class="row  g-3 d-flex justify-content-center">Login</h1>
            <form class="row g-3 d-flex justify-content-center">
                <div class="col-auto">
                    <label for="Username" class="visually-hidden">Username</label>
                    <input class="form-control" type="text" placeholder="Username" aria-label="default input example">
                </div>
                <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-3">Confirm identity</button>
                </div>
            </form>
        </div>
    <!-- Sign Up -->
    <div class="container">
            <h1 class="row  g-3 d-flex justify-content-center">Sign Up</h1>
        </div>
        <div class="container d-flex justify-content-center">
        <div class="card w-25">
            <div class="input-group"></div>
                <input type="text" class="form-control mb-1 " placeholder="First Name" id="First Name" aria-describedby="basic-addon1">
                <input type="text" class="form-control mb-1" placeholder="Last Name" id="Last Name" aria-describedby="basic-addon1">
                <input type="text" class="form-control mb-1" placeholder="Username" id="Username" aria-describedby="basic-addon1">
                <input type="text" class="form-control mb-1" placeholder="Password" id="Password" aria-describedby="basic-addon1">
                <input type="text" class="form-control mb-1" placeholder="E-mail" id="E-mail" aria-describedby="basic-addon1">
                <input type="text" class="form-control mb-1" placeholder="Starting Weight" id="Starting Weight" aria-describedby="basic-addon1">
                <input type="text" class="form-control" placeholder="Goal Weight" id="Goal Weight" aria-describedby="basic-addon1">
            </div>
        </div>
        </div>
    </section>